@font-face {
    font-family: 'Opensans';
    src: url('../fonts/OpenSansCondensed-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansCondensed-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansCondensed-LightItalic.ttf');
    font-weight: 300;
    font-style: normal;
}
